.humburger {
    width: 30px;
    cursor: pointer;
}

.humburger span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: rgb(150, 148, 148);
    border-radius: 5px;
    transition: all 0.4s ease;
}

/* Hover effect to turn it into a cross */
.humburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(7px, 5px);
}

.humburger.open span:nth-child(2) {
    opacity: 0;
}

.humburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -5px);
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .humburger {
        width: 24px;
    }

.humburger span {
    width: 24px;
    height: 2px;
}
.humburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.humburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -7px);
}

}

