.menu-item {
  position: relative;
}

.submenu {
  top: calc(100% + 12px);
  left: 0;
  background-color: rgb(37, 37, 37);
  padding: 10px;
  border-radius: 6px;
  white-space: nowrap;
  z-index: 1000;
  pointer-events: auto;
}
